/* Extra small devices (phones, less than 768px) */
.chatDiv{
 border: 1px solid black;
 background: #fff;
 height: 20px;
 color: #000;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 .chatDiv{
  border: 1px solid black;
  background: #fff;
  height: 20px;
  color: #000;
 }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }